---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html %}
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/education_card.html %}
{% include widgets/awards_card.html %}
{% endif %}

<div class="row mt-3">
    <div class="col">
        <div class="py-2">
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=3852d6&w=284&t=tt&d=WPau02tkIDSKWMO-WsNnNwUR4-qnFe3bZ2jIJFNBPiI&co=ffffff&ct=000000'></script>
        </div>
    </div>
</div>