<footer class="footer">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container{% endif %}">
        <div class="row my-3">
            <div class="col d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-baseline">
                <div class="text-muted mb-2 mb-md-0">
                    Last updated: {{ "now" | date: "%b %Y" }}
                </div>
                <div class="text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>