@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

.container {
    max-width: 1300px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    font-weight: 400;
}

.chinese-name {
    font-family: "KaiTi", "楷体", "STKaiti", "STKaiti SC", "STKaiti TC", "华文楷体", "Kaiti SC", "Kaiti TC", "BiauKai", "標楷體", "DFKai-SB", "DFKaiSB", serif;
    font-size: 0.4em;
    font-weight: 300;
    font-style: normal;
    vertical-align: baseline;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.02em;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

.badge-publication {
    font-size: 100%;
}

/* Fix spacing for first publication item - remove top padding */
.card-body > div > .d-none.d-md-block:first-child .row .col-md-8,
.card-body > div > .d-none.d-md-block:first-child .row .col-xl-9 {
    padding-top: 0 !important;
}