@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

.container {
    max-width: 1300px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    font-weight: 400;
}

.chinese-name {
    font-family: "KaiTi", "楷体", "STKaiti", "STKaiti SC", "STKaiti TC", "华文楷体", "Kaiti SC", "Kaiti TC", "BiauKai", "標楷體", "DFKai-SB", "DFKaiSB", serif;
    font-size: 0.4em;
    font-weight: 300;
    font-style: normal;
    vertical-align: baseline;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.02em;
}

.navbar {
    opacity: 0.95;
}

.no-break {
    white-space: nowrap;
}