<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h5 class="mb-3">Education</h5>
                <div>
                    {% for item in site.data.profile.education %}
                    <div class="my-1 d-flex">
                        <div class="flex-grow-1">
                            <div class="font-weight-medium">{{ item.name }}</div>
                            <div class="small text-muted">{{ item.dept }}</div>
                            <div class="small">{{ item.position }}</div>
                        </div>
                        <div class="ml-auto mt-auto text-muted">{{ item.date }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

