{% assign news_by_year = site.news | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h5 class="mb-3">News</h5>
                <div>
                    {% for year in news_by_year %}
                    <div class="my-2">
                        <div class="text-muted mb-2">{{ year.name }}</div>
                        {% for item in year.items %}
                        <div class="my-1 d-flex">
                            <div>{{ item.title }}</div>
                            <div class="ml-auto mt-auto text-muted no-break">{{ item.date | date: "%b %d" }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>